<nav class="navbar navbar-custom navbar-expand-lg w-50 mx-auto mt-2">
  <button class="navbar-toggler mx-auto mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item w-100">
        <a class="nav-link active text-center" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Acceuil</a>
      </li>
      <li class="nav-item w-100">
        <a class="nav-link text-center" routerLink="/test" routerLinkActive="active">test</a>
      </li>
    </ul>
  </div>
</nav>
