* {
}
.hero-name {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 10px;
  color : var(--gray-text);

}

.hero-profession {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 15px;
  color : var(--gray-text);

}

.hero-description {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 10px;
  color : var(--gray-text);

}

.hero-photo {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border: 5px solid #007bff; /* Bordure bleue */
  transition: box-shadow 0.3s ease;
}

.hero-photo:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.social-links a {
  color: #007bff;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #0056b3;
}

