h3, p {
    color : var(--gray-text);

}
.experience {
    border: 3px solid #283044;
    border-radius: .75rem;
    padding: 10px;
    margin: 5px;
    background-color: transparent;
}
.experiences {
    border: 3px solid var(--gray-text);
    border-radius: .75rem;
    padding: 15px;
}