<div class="container mt-5">
    <div class="row">
      @for (succes of success; track $index) {
        <div class="col-md-4 mb-4">
          <div class="card shadow-sm">
            <div class="card-body">
                <img [src]="succes.image" class="card-img-top" alt="{{ succes.nom }}">

                <h5 class="card-title">{{ succes.nom }}</h5>

                <p class="card-text">{{ succes.description }}</p>
            </div>
          </div>
        </div>
      }
  
    </div>
  </div>