.card {
    background-color: #283044;
    border-radius: 8px;
  }
  h5 {
    color: #e3e6ee;
  }
  p, small {
    color: #a3acc8;
  }
  
  .card-title {
    font-weight: bold;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  img {
    max-width: 30%;
    align-content: center;
  }

  