<!-- <app-hero [hero]="hero"></app-hero> -->
<section id="about">
    <h2>A Propos</h2>
    <div class="container mt-5 text-center">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <p>{{hero.description}}</p>
            </div>
        </div>
    </div>
</section>
<section id="skills">
    <h2>Compétences</h2>
    <app-competences></app-competences>
</section>
<section id="projets">
    <h2>Projets</h2>
    <app-projets></app-projets>
</section>

<!-- <app-competences></app-competences>
<app-informations></app-informations>
<app-projets [avance]="false"></app-projets> -->
