<section id="about">
    <h2>A Propos</h2>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                @for (desc of description; track $index) {
                    <p>{{desc}}</p>
                }
            </div>
            <h4 class="text-center">Qualités</h4>
            <div class="soft-skills d-flex justify-content-center flex-wrap">
                @for (qualite of hero.qualite; track $index) {
                    <app-soft-skill [skill]="qualite"></app-soft-skill>
                }
            </div>
            <app-informations></app-informations>
            
        </div>
    </div>
</section>
<section id="experiences">
    <h2>Expériences</h2>
    <app-experiences></app-experiences>
</section>
<section id="skills">
    <h2>Compétences</h2>
    <app-competences></app-competences>
</section>
<section id="projets">
    <h2>Projets</h2>
    <app-projets></app-projets>
</section>
