body {
  background-color: black;
  background-image: url("assets/6940220.jpg");
  scrollbar-width: thin;
  scrollbar-color: #007bff #f1f1f1;
}
* {
  --gray-text: #e3e6ee;
  --gray-text-nav-bar: #a3acc8;
}

*::-webkit-scrollbar, ::-webkit-scrollbar {
  width: 1em;
  background-color: transparent;
}

*::-webkit-scrollbar-track, ::-webkit-scrollbar-track {
  background-color: transparent;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
